.GraphDisplay{
    position: fixed;
    top: -10%;
    left: 21.5%;
    /* TODO:Make the width and height always readaptable (FOr some reasong the graph doesnt follow those rules) */
    max-width: 78vw;
    max-height: 75vw;
    min-width: 78vw;
    min-height: 75vw;
    width: auto;
    height: auto;
}