.SymbolSeacher-textbox {
    position: fixed;
    top: 5.2%;
    left: 0%;
    width: 10%;
    height: 3%;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 0;
    border: 2px solid #1b8da1;
    background-color: transparent;
    color: #1b8da1;
    float: left;
}

.symbolSearcher-button {
    position: fixed;
    top: 5.2%;
    left: 10.5%;
    width: 6%;
    height: 4.7%;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    border-radius: 0;
    border: 2px solid #1b8da1;
    border-left: none;
    background-color: transparent;
    color: #1b8da1;
    float: left;
}

.symbolSearcher-button:hover {
    background-color: #1b8da1;
    color: white;
}

.ShowSymbolSearcher {
    position: fixed;
    top: 10%;
    left: 5px;
    width: 10.75%;
    display: flex; 
    background-color: #1b8da1;
    flex-direction: column;
    overflow: auto; /* this is for the scroll bar */
    max-height: 30vh;
    border-top: 2px solid  #1b8da1;
    border-bottom: 2px solid  #1b8da1;
}

.ShowSymbolSearcher::-webkit-scrollbar {
    display: none;
}

.ShowSymbolSearcher button {
    border-radius: 0;
    border: 2px solid #1b8da1;
    border-top:2px solid #1b8da1 ;
    color: #1b8da1;
    background-color: #373241;
}

.ShowSymbolSearcher button:hover {
    background-color: transparent;
    color: white;
}






/* I have to improve all of this css, but I thing that I know a lil more about it */